# uploads
storage/uploads/

# sessions/cache
storage/cache/
storage/sessions/

# secrets
config/secrets/
.env

# wordpress uploads
public/wordpress
    
# ridderwiki
public/ridderwiki

# mediawiki uploads
storage/uploads/wiki/

# logs
*.log

# DEV
.DEV